body {
  background-color: red;
  padding-top: 20px; }

button {
  color: green;
  height: 100px; }

.btn2 {
  color: yellow;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
